{% extends "main.html.twig" %}

{% block content %}
    <h2>Simple Search</h2>

    <form method="GET">
        <fieldset>
            <legend>Search</legend>
            <label for="field_query">
                Query: <input type="text" name="field_query" id="field_query" value="{{ q }}" />
            </label>
            <label for="field_sort">
                Sort: <input type="text" name="field_sort" id="field_sort" value="{{ s }}" />
                <input type="radio" name="field_sort_type" value="asc" {% if st == "asc" %}checked="checked"{% endif %}> ASC
                <input type="radio" name="field_sort_type" value="desc" {% if st == "desc" %}checked="checked"{% endif %}> DESC
            </label>
            <input type="submit" value="Submit" />
        </fieldset>
    </form>

    <p>Found documents: {{ result.getNumFound }} </p>

    {% for document in result %}
        <hr />
        <table>
            {% for field, value in document %}
                <tr>
                    <th>{{ field }}</th>
                    <td>{{ value|join(', ') }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
